<div class="flex flex-row mx-auto align-center items-center justify-center min-h-[calc(100svh_-_88px)] w-full sm:w-2/3">
  <div class="bg-white shadow-lg flex flex-col gap-10 justify-center w-full text-center p-8 rounded-lg">
    <div class="text-2xl font-semibold">Welcome to Four in a Row!</div>
    <button class="cursor-pointer text-lg text-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-2xl shadow-lg mx-auto" phx-click="generate-room">Generate a Private Game</button>
  </div>
</div>
